body {
    background-color: #b6f4ff;
}
h1{
    text-align: center;
    font-family: Garamond;
}
h2{
    text-align: center;
    font-family: Garamond;
}
h3{
    font-family: Garamond;
    cursor: pointer;
}
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.favorite
{
    text-align: center;
}
img{
    border-radius: 50%;
    border: 8px double purple;
    cursor: grab;
}
.to-be
{
    cursor: wait;
}
.information
{
    cursor:default;
}